.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center{
    display: flex;
}
.square{
    width: 100px;
    height: 100px;
    margin: 5px 10px;
    border:black solid 3px;
    background-color: yellow;
}