body{
    background-color: rgb(66, 167, 145);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color: rgb(255, 235, 221);
}

.head1{
    font-weight: 700;  
    text-align: center;
    letter-spacing: -0.05em;
    font-size: calc(7vw + 2rem);
    margin-bottom: -20px;
}

.to-do-title{
    text-align: center;
    font-size: calc(4vw + 1rem);
    font-style: italic;
    font-weight: 300;
}

.todo-add{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: rgba(255, 255, 255, 0.116);
    width: 50vw;
    padding: 10px;
    margin: 0 auto;
}


.new-task{
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: italic;
    background-color: transparent;
    width: 100%;
    border: 0;
    border-bottom: 1px solid currentColor;
    color: rgb(21, 250, 90);
    font-size: inherit;
    outline: none;
    transition: border-bottom 140ms ease-in;

}
.new:focus{
    border-bottom-width: 2px;
}

.bt{
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
    font-size: 1rem;
    transition: opacity 150ms ease-in;
}

.bt:hover{
    font-weight: 700;
    opacity: .7;
    color: rgba(21, 250, 90, 0.527);
}
#creativeForm{
    color: rgb(21, 250, 90);
    margin: 0 auto;
    display: grid;
    grid-template-areas: "new new new"
                        "des des des"
                        "start start start"
                        "finish finish finish"
                        "add . delete";
    grid-gap: 20px;
    background-color: rgb(235, 201, 51);
    width: 50vw;
    padding: 10px;
}

.createbt{
   grid-area: add;
}

.deleteAll{
    grid-area: delete;
}

.start{
    grid-area: start;
}

.finish{
    grid-area: finish;
}

.type-desc{
    grid-area: des;
}

.type-new{
    grid-area: new;
}