.outer-dive{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    grid-gap: 50px;}

.inner-dive{
    border: 1px solid #000;
    padding: 30px;
    text-align: center;
}
.box1{
    background-color: orange;
    grid-column-start: 2;
    grid-column-end: 4;

}
.box2{
    background-color: blue;
}
.box3{
    background-color: green;
}
.box4{
    background-color: red;
}
.box5{
    background-color: cyan;
}
.box6{
    background-color: pink;
    grid-column-start: 2;
    grid-column-end: 4;
}